# Создайте файл .env из копии этого файла и замените значения переменных реальными данными


# API-ключ https://api.apilayer.com
API_KEY_1=your_api_key_here

# API-ключ https://api-ninjas.com
API_KEY_2=your_api_key_here